# Prerequisites
.pio/
.pioenvs/
.piolibdeps/
.clangd/
.gcc-flags.json
fp-flags.json
libdeps/

# Build artifacts
bin/
gen/
out/
build/
*.o
*.obj
*.a
*.lib
*.so
*.so.*
*.dylib
*.dll
*.exe

# VS Code
.vscode/
.history/

# OS specific
.DS_Store
Thumbs.db

# Unit tests
test_results/
tests/run_tests
tests/run_tests_wsl
