name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-native:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run Native Tests
        run: |
          cd tests
          make test

  build-arduino:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Arduino CLI
        uses: arduino/setup-arduino-cli@v1.1.2

      - name: Install AVR Core
        run: arduino-cli core install arduino:avr

      - name: Compile BasicUsage
        run: arduino-cli compile --fqbn arduino:avr:uno --libraries . examples/BasicUsage/BasicUsage.ino

      - name: Compile FirmwareUpdate
        run: arduino-cli compile --fqbn arduino:avr:uno --libraries . examples/FirmwareUpdate/FirmwareUpdate.ino

      - name: Compile APICompatibility
        run: arduino-cli compile --fqbn arduino:avr:uno --libraries . examples/APICompatibility/APICompatibility.ino

      - name: Compile ConfigMigration
        run: arduino-cli compile --fqbn arduino:avr:uno --libraries . examples/ConfigMigration/ConfigMigration.ino

      - name: Compile Testing
        run: arduino-cli compile --fqbn arduino:avr:uno --libraries . examples/Testing/Testing.ino

  lint:
    name: Lint Library
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Arduino Lint
        uses: arduino/arduino-lint-action@v1
        with:
          library-manager: update
          compliance: strict
