name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-native:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install lcov
        run: sudo apt-get update && sudo apt-get install -y lcov

      - name: Run Native Tests with Coverage
        run: |
          g++ -Isrc -Itests --coverage -fprofile-arcs -ftest-coverage -DARDUINO -std=c++11 -o tests/run_tests tests/run_tests.cpp
          ./tests/run_tests
          lcov --capture --directory tests --output-file coverage.info --ignore-errors empty
          lcov --remove coverage.info '*/tests/*' '*/Arduino.h' '/usr/*' --output-file coverage.info --ignore-errors unused

      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

          file: coverage.info

  build-arduino:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Arduino CLI
        uses: arduino/setup-arduino-cli@v1.1.2

      - name: Install AVR Core
        run: arduino-cli core install arduino:avr

      - name: Compile BasicUsage
        run: arduino-cli compile --fqbn arduino:avr:uno --libraries . examples/BasicUsage/BasicUsage.ino

      - name: Compile FirmwareUpdate
        run: arduino-cli compile --fqbn arduino:avr:uno --libraries . examples/FirmwareUpdate/FirmwareUpdate.ino

      - name: Compile PrintableIntegration
        run: arduino-cli compile --fqbn arduino:avr:uno --libraries . examples/PrintableIntegration/PrintableIntegration.ino

      - name: Compile DependencyManagement
        run: arduino-cli compile --fqbn arduino:avr:uno --libraries . examples/DependencyManagement/DependencyManagement.ino

      - name: Compile VersionComparison
        run: arduino-cli compile --fqbn arduino:avr:uno --libraries . examples/VersionComparison/VersionComparison.ino

  lint:
    name: Lint Library
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Arduino Lint
        uses: arduino/arduino-lint-action@v1
        with:
          library-manager: update
          compliance: strict
