name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-native:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Run Native Tests
      run: |
        cd tests
        make test

  build-arduino:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Install Arduino CLI
      uses: arduino/setup-arduino-cli@v1.1.2

    - name: Install AVR Core
      run: arduino-cli core install arduino:avr

    - name: Compile BasicCheck
      run: arduino-cli compile --fqbn arduino:avr:uno examples/BasicCheck/BasicCheck.ino

    - name: Compile UpgradeCheck
      run: arduino-cli compile --fqbn arduino:avr:uno examples/UpgradeCheck/UpgradeCheck.ino --libraries .
